/* Global footer position */
/*
    This will make the footer to have a fixed position to the bottom of the page, in case we have less content.
    Style variables can be found in archery/less/projects/humanization/humanization_variables.less under section Layout Variables
/*
*/

/* ---------------------- */
/*  Begin Footer   Style  */
/* ---------------------- */

body {
    padding-top:@navbar-height + 3;
    padding-bottom: @global-footer-height;
}
.bb-wrapper {
    min-height: 100%;
    padding-bottom: 5.5em;
}


