/* Dashboard Links ---------------------------- */
// This file creates the style for all the big links from dashboard page.
/* ------------------------------------------ */

.page_dashboard {
    .dashboard-links {
        a {
            text-align: center;
            border-right: 2px dotted #8A8B8C;
            height: 100px;
            display: block;
            padding-top: 9px;
            &:last-child {
                border-right: none;
            }
            .dashboard-link-title {
                display: table;
                width: 100%;
                span {
                    text-align: center;
                    text-transform: uppercase;
                    color: #545759;
                    display: table-cell;
                    vertical-align: middle;
                    line-height: 20px;
                    align: center;
                    height: 40px;
                    width: 100%;
                    margin: 0 auto;
                }
            }
            .progress {
                float:left;
                background: #005F9B;
                color: #231F20;
                height: 10px;
                line-height: 10px;
                font-size: 9px;
                width:50px;
                text-align: right;
                padding-right: 5px;
                margin-bottom: 0;
                box-shadow: inset 47px 0 0 0 #D3CDC1;
            }