/* Dashboard Footer ---------------------------- */
// This file creates the footer at the bottom of dashboard page.
/* ------------------------------------------ */

.page_dashboard {
    .bottom-menus {
        margin-top: 10px;
        background: #C9C8C7;
        border-bottom: 4px solid #F8DFA3;
        box-shadow: 0 6px 0 #FFF;
        nav {
            h3 {
                color: #0083AC;
                font-size: 18px;
                font-weight: 100;
                letter-spacing: 1px;
            }
            a {
                color: #FFF;
                font-size: 14px;
                display: block;
                line-height: 20px;
                letter-spacing: 1px;
                font-weight: 200;
            }
        }
    }
}